/* always fix footer at the bottom */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
}

/* Spread out all the buttons */
#info,.option {
  padding: 30px 10px 10px 20px;
}
.btn{
  margin:10px;
}

/*Align query bar*/
#query{
  margin-top: 10px;
}

/*Space out options*/
.option>span {
  margin-left: 10px;
}

